.button {
  width: 208px;
  height: 38px;
  display: block;
  background-color: rgba(0,0,0,0);
  border: 2px solid #D7DEEA;
  border-radius: 7px;
  cursor: pointer;
  color: $font-color--button;
  font-family: $font-family--popup;
  font-size: $font-size;
  font-weight: bold;
  text-align: center;
  line-height: 38px;

  &--warning {
    background-color: $bg-color--warning;
    color: $font-color--warning;
  }
}
