$font-color--button: #8C94A4;
$font-color--popup: #3D424D;
$font-color--warning: #FFFFFF;

$bg-color--warning: #FF3B30;

$font-size: 1rem;
$font-size--small: 0.75rem;
$font-size--big: 1.7rem;

$font-family--button: 'Open Sans', sans-serif;
$font-family--popup: 'Open Sans', sans-serif;
