mixin popup(data={content: {text:""}, m:""})
  +b('popup', {m:data.m}, 'div')
    +e('wrap', {m:data.m}, 'div')
      +e('warning-icon', {}, 'img')(src='../blocks/popup/img/icon-warning_notify-red.svg')
      +e('text', {}, 'p')
        !=data.content.text
      +e('btn-wrap', {}, 'div')
        +button({content: {text: "Cancel"}, class: "cancel-js"})
        +button({content: {text: "Uninstall"}, m: "warning", class: "uninstall-js"})
      +e('close', {}, 'a')(herf="#" class="close-js")
